@model Category;
@{
    ViewBag.pageTitel = "Categories Managment";
    ViewBag.CardTitel = "Delete Categories";
    Layout = "~/Views/Shared/_Dashporde.cshtml";
}
<partial name="Massade" />

<html>

<body>
    <form method="post" action="/Admin/Category/SaveDelete/@Model.CategoryId">
        <div>
            <input type="hidden" name="CategoryId" id="CategoryId" value="@Model.CategoryId" class="form form-control"><br>


        </div>

        <div>
            <label for="CategoryName">CategoryName</label><br>
            <input type="text" name="CategoryName" disabled id="CategoryName" value="@Model.CategoryName" class="form form-control"><br><br>

            <label for="CategoryTime">CategoryTime</label><br>
            <input type="datetime" name="CategoryTime" disabled id="CategoryTime" value="@Model.CategoryTime" class="form form-control"><br><br>

            <label for="Description">Description</label><br>
            <input type="text" name="Description" id="Description" disabled value="@Model.Description" class="form form-control"><br><br>


            <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
    </form>
</body>
</html>
