@model Category;
@{
    ViewBag.pageTitel = "Categories Managment";
    ViewBag.CardTitel = "Edite Categories";
    Layout = "~/Views/Shared/_Dashporde.cshtml";
}

<html>

<body>
    <form method="post" action="/Admin/Category/SaveEdite/@Model.CategoryId">
        <div>
            <input type="hidden" name="CategoryId" id="CategoryId" value="@Model.CategoryId" class="form form-control"><br>


        </div>
      
        <div>
            <label for="CategoryName">CategoryName</label><br>
            <input type="text" name="CategoryName" id="CategoryName" value="@Model.CategoryName" class="form form-control"><br><br>

            <label for="CategoryTime">CategoryTime</label><br>
            <input type="datetime" name="CategoryTime" id="CategoryTime" value="@Model.CategoryTime" class="form form-control"><br><br>

            <label for="Description">Description</label><br>
            <input type="text" name="Description" id="Description" value="@Model.Description" class="form form-control"><br><br>


            <input type="submit" value="SaveEdite" class="btn btn-success" />

    </form>
</body>
</html>
